#jinja2: lstrip_blocks: True
# {{ ansible_managed }}
{% if wireguard_template_dest is defined %}

# Use this configuration on a mobile device:
# qrencode -o- < {{ wireguard_template_dest | basename }} | display
#
# To tunnel everything except local addresses, add those AllowedIPs:
# AllowedIPs = ::/0, 10.0.0.0/8, 0.0.0.0/5, 8.0.0.0/7, 11.0.0.0/8, 12.0.0.0/6, 16.0.0.0/4, 32.0.0.0/3, 64.0.0.0/2, 128.0.0.0/3, 160.0.0.0/5, 168.0.0.0/6, 172.0.0.0/12, 172.32.0.0/11, 172.64.0.0/10, 172.128.0.0/9, 173.0.0.0/8, 174.0.0.0/7, 176.0.0.0/4, 192.0.0.0/9, 192.128.0.0/11, 192.160.0.0/13, 192.169.0.0/16, 192.170.0.0/15, 192.172.0.0/14, 192.176.0.0/12, 192.192.0.0/10, 193.0.0.0/8, 194.0.0.0/7, 196.0.0.0/6, 200.0.0.0/5, 208.0.0.0/4
{% endif %}

[Interface]
PrivateKey = {{ wireguard_conf.privkey }}
{% if 'listenport' in wireguard_conf and wireguard_conf.listenport %}
ListenPort = {{ wireguard_conf.listenport }}
{% endif %}
{% if 'address' in wireguard_conf and wireguard_conf.address %}
Address = {{ wireguard_conf.address | join(', ')}}
{% endif %}
{% if 'mtu' in wireguard_conf and wireguard_conf.mtu %}
MTU = {{ wireguard_conf.mtu }}
{% endif %}
{% if 'dns' in wireguard_conf and wireguard_conf.dns %}
DNS = {{ wireguard_conf.dns }}
{% endif %}
{% if 'table' in wireguard_conf and wireguard_conf.table %}
Table = {{ wireguard_conf.table }}
{% endif %}
{% if 'preup' in wireguard_conf and wireguard_conf.preup %}
{% for cmd in wireguard_conf.preup %}
PreUp = {{ cmd }}
{% endfor %}
{% endif %}
{% if 'postup' in wireguard_conf and wireguard_conf.postup %}
{% for cmd in wireguard_conf.postup %}
PostUp = {{ cmd }}
{% endfor %}
{% endif %}
{% if 'predown' in wireguard_conf and wireguard_conf.predown %}
{% for cmd in wireguard_conf.predown %}
PreDown = {{ cmd }}
{% endfor %}
{% endif %}
{% if 'postdown' in wireguard_conf and wireguard_conf.postdown %}
{% for cmd in wireguard_conf.postdown %}
PostDown = {{ cmd }}
{% endfor %}
{% endif %}
{% for hostname, peervars in wireguard_conf.peers | dictsort %}

[Peer]
PublicKey = {{ peervars.pubkey }}
    {% if 'allowedips' in peervars and peervars.allowedips %}
AllowedIPs = {{ peervars.allowedips | join(', ') }}
    {% endif %}
    {% if 'endpoint' in peervars and peervars.endpoint %}
Endpoint = {{ peervars.endpoint }}
    {% endif %}
    {% if 'persistentkeepalive' in peervars and peervars.persistentkeepalive %}
PersistentKeepalive = {{ peervars.persistentkeepalive }}
    {% endif %}
{% endfor %}
